* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

div input {
    display: none;
}

div label {
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    background-color: rgb(107, 105, 105);
    border-radius: 20px;
    cursor: pointer;
    transition: 300ms linear;
}

div label::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 300ms linear;
}

div input:checked+label {
    background-color: rgb(78, 158, 238);
}

div input:checked+label::before {
    left: 50px;
}